@import url("bootstrap.css");
@import url("iconfont-style.css");

#main-header {
  background: #8eb07a;
  padding: 10px;
  color: #fff;
}

#main-header .site-title {}
#main-header .site-title .image {
  background: url(/images/logo-top.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
}

.content-wrapper {
  margin-top: 20px;
  padding: 10px;
}

.form-wrapper {}
.form-wrapper fieldset {
  width: 60%;
  margin: 0 auto;
}
.form-wrapper fieldset label {
  width: 100%;
  margin: 10px;
}
.form-wrapper fieldset input {
  width: 100%;
  padding: 5px;
}

.form-wrapper .submit-btn {
  font-size: 18px;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ed8e20;
  padding: 15px 30px;
  border: 1px solid #ed8e20;
  margin: 10px;
}