<div class='update-password-wrapper'>
    <h4 class="title" ng-hide="hidePassForm">Password Reset</h4>
    <h6 ng-hide="hidePassForm">
    Your password must contains at least one <strong>number</strong> and one <strong>letter</strong>, and have six or more characters..
    </h6>

    <div class="the-content" ng-show="!!responseFeedback.title || !!responseFeedback.message">
      <h2 class="text-center">{{ responseFeedback.title }}</h2>
      <p class="text-center">{{ responseFeedback.message }}</p>
    </div>

    <form name="passwordUpdateForm" class='form-wrapper' novalidate ng-hide='hidePassForm'>
        <fieldset>
            <label>New password:</label>
            <input placeholder="Password"
                   name="password"
                   ng-model="password"
                   required type="password"
                   pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$" />

            <div class="error-message"
                 ng-show="passwordUpdateForm.password.$invalid && !passwordUpdateForm.password.$pristine">
                Invalid password.
            </div>
        </fieldset>

        <fieldset>
            <label>Password confirmation:</label>
            <input placeholder="Password confirmation"
                   name="password_confirmation"
                   ng-model="password_confirmation"
                   pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$"
                   type="password" />

            <div class="error-message"
                 ng-show="password_confirmation != password">
                Your passwords are't the same.
            </div>
        </fieldset>

        <fieldset class="submit-button-fieldset">
            <button type="submit"
                class = 'submit-btn'
                ng-disabled="passwordUpdateForm.$invalid"
                ng-click="updatePassword(password, password_confirmation)"
            >Update password</button>
        </fieldset>
    </form>
</div>